<!-- Modal -->
<div class="modal fade" id="applesModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content transparent">
      <div class="modal-header modalHeader">
          <h3>{{'PRODUCTS.FRUITS.APPLE.TITLE' | translate}}</h3>
      </div>
      <div class="modal-body bg-white br2">
        <div class="row">
          <div class="col-sm-6">
            <img class="img-aside" src="../../../../../assets/images/productsTumblr/apples.jpg" alt="">
          </div>
          <div class="col-sm-6">
            <div>
              <div class="origins">
                <img class="market" src="../../../../../assets/images/marcador.svg" alt="">
                <h3>{{'PRODUCTS.ORIGINS' | translate}}</h3>
              </div>
              <div class="corigin">
                {{'COUNTRIES.USA' | translate}}
              </div>
              <div class="corigin">
                {{'COUNTRIES.CAN' | translate}}
              </div>
              <div class="corigin">
                {{'COUNTRIES.CHI' | translate}}
              </div>
              <div class="corigin">
                {{'COUNTRIES.PORT' | translate}}
              </div>
              <div class="corigin">
                {{'COUNTRIES.ESP' | translate}}
              </div>
              <div class="corigin">
                {{'COUNTRIES.FR' | translate}}
              </div>
              <div class="corigin">
                {{'COUNTRIES.ITA' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
