<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
          <div class="row col pt-2">
            <div class="col">
              <h4 style="color:white">
                <b>Carga <br> Internacional</b>
              </h4>
            </div>
            <div class="col">
              <h4 style="color:white">
                <b>Productos</b>
              </h4>

              <ul class="list">
                <li class="item"><a href="#">      <span>{{ 'HOME.TITLE' | translate }}</span></a></li>
              </ul>
              ++
            </div>
            <div class="col">
              <h4 style="color:white">
                <b>Empresa</b>
              </h4>
            </div>
          </div>
      </div>
    </div>
    <div class="container">
      <span>

          <ul class="nav nav-lang">
            <li class="nav-item"><mat-icon>language</mat-icon></li>
            <li><a (click)="setLang('es')">{{'lang.es' | translate}}</a></li>
            <li><a (click)="setLang('en')">{{'lang.en' | translate}}</a></li>
          </ul>
      </span>
      <div class="socials pt-1">
        <ul>
          <li><a href="" class="social-icon linkedin"></a></li>
          <li><a href="" class="social-icon twitter"></a></li>
          <li><a href="" class="social-icon facebook"></a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
