#images-grid{
  list-style: none;
  display: block;
}
#images-grid li{
  display: inline;
}
#images-grid li img{
  width: 20%;
  padding: 10px;
}

.tumblr{
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  display: inline-block;
}

.tumblr:hover{

}
