.bg-linear-gradiant{
  // background: linear-gradient(180deg,#1e3264,#181818 40%);
}

.tumblr-container{
  display: inline-block;
  width: 100%;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 4px;
}
.gallery{
  width: 100%;
  margin: auto;
}
.tumblr{

}


.tumblr:hover{

}


@media (max-width: 375px) {
  .tumblr-container{
    width: 100%;
  }
}

@media (max-width: 425px) {
  .tumblr-container{
    width: 50%;
  }
}
