.bg-linear-gradiant{
  // background: linear-gradient(180deg,#1e3264,#181818 40%);
}

.tumblr-container{
  display: inline-block;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 4px;
}
.gallery{
  width: 100%;
  margin: auto;
}
.tumblr{

}


.tumblr:hover{

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tumblr-container{
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tumblr-container{
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tumblr-container{
    width: 46%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tumblr-container{
    width: 23.3%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tumblr-container{
    width: 17%;
  }
}
