<app-header></app-header>
<div style="height: 130px; width: 100%"></div>


  <!-- Componentes Modal -->
  <div>
      <!-- Frutas -->
    <app-applesModal></app-applesModal>

    <!-- <app-grapesModal></app-grapesModal> -->
    <!-- <app-pearsModal></app-pearsModal> -->
    <!-- <app-TangerinesModal></app-TangerinesModal> -->
    <!-- <app-orangesModal></app-orangesModal> -->
    <!-- <app-kiwisModal></app-kiwisModal> -->
    <!-- <app-peachesModal></app-peachesModal> -->
    <!-- <app-nectarinesModal></app-nectarinesModal> -->
    <!-- <app-plumsModal></app-plumsModal> -->
    <!-- <app-avocatoesModal></app-avocatoesModal> -->
    <!-- Granos -->
    <!-- <app-linssedModal></app-linssedModal> -->
    <!-- <app-barleyModal></app-barleyModal> -->
    <!-- <app-sunFlowerSeedsModal></app-sunFlowerSeedsModal> -->
    <app-alpisteModal></app-alpisteModal>
    <!-- <app-yellowCornModal></app-yellowCornModal> -->
    <!-- <app-cornForPopCornModal></app-cornForPopCornModal> -->
    <!-- <app-beansModal></app-beansModal> -->
    <!-- <app-oatsModal></app-oatsModal> -->
    <!-- TUBERCULOS -->
    <!-- <app-potatoesModal></app-potatoesModal> -->
    <!-- Especias -->
    <!-- <app-cinnamonModal></app-cinnamonModal> -->
    <!-- <app-jamaicaFlowersModal></app-jamaicaFlowersModal> -->
    <!-- bulbos -->
    <!-- <app-garlicsModal></app-garlicsModal> -->
    <!-- <app-onionsModal></app-onionsModal> -->
  </div>


  <div class="container-fluid">
    <h1 class="products-title">{{'PRODUCTS.TITLE' | translate}}</h1>
  </div>

  <!--
    **************************************************************
    **************************************************************
    *******************    FRUTAS    *****************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTAFRUITS.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTAFRUITS.SUBTITLE' | translate}}" BackgroundImage="bgFrutas" class="bgCta bgFrutas"></app-cta>
  <div class="container">
    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" data-target="#applesModal">{{'PRODUCTS.FRUITS.APPLE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.APPLE.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.GRAPES.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.GRAPES.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.PERU' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.MEX' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.PORT' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ESP' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ITA' | translate}}
            </div>
          </div>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.PEAR.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PEAR.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ARG' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.PORT' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.TANGERINE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.TANGERINE.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.PERU' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ESP' | translate}}
            </div>
          </div>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.ORANGE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.ORANGE.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.ESP' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.PORT' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.PERU' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.KIWI.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.KIWI.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.ITA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.GRE' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.PORT' | translate}}
            </div>
          </div>
        </div>
    </div>

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.PEACH.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PEACH.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ESP' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.NECTARINE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.NECTARINE.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ESP' | translate}}
            </div>
          </div>
        </div>
    </div>

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.PLUMS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PLUMS.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ESP' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.FRUITS.AVOCADO.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.AVOCADO.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ESP' | translate}}
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--
    **************************************************************
    **************************************************************
    *******************   SEMILLAS   *****************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTASEED.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTASEED.SUBTITLE' | translate}}" BackgroundImage="bgGranos"></app-cta>
  <div class="container">

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SEEDS.LINSEED.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.LINSEED.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CAN' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SEEDS.BARLEY.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.BARLEY.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CAN' | translate}}
            </div>
          </div>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SEEDS.SUNFLOWER.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.SUNFLOWER.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CAN' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" data-target="#alpisteModal">{{'PRODUCTS.SEEDS.BIRDSEED.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.BIRDSEED.CONTENT' | translate}}
          </p>
        </div>
    </div>

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SEEDS.YELLOWCORN.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.YELLOWCORN.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CAN' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SEEDS.POPCORN.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.POPCORN.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CAN' | translate}}
            </div>
          </div>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SEEDS.BEANS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.BEANS.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CAN' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SEEDS.OATS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.OATS.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CAN' | translate}}
            </div>
          </div>
        </div>
    </div>

  </div>

  <!--
    **************************************************************
    **************************************************************
    *******************   TUBERCULOS  ****************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTATUBERS.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTATUBERS.SUBTITLE' | translate}}" BackgroundImage="bgTuberculos"></app-cta>

  <div class="container">


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.TUBERS.POTATOE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.TUBERS.POTATOE.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CAN' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.HOL' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>


  </div>

  <!--
    **************************************************************
    **************************************************************
    *******************   SPECIAS  *******************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTASPICES.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTASPICES.SUBTITLE' | translate}}" BackgroundImage="bgSpecias"></app-cta>

  <div class="container">

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SPICES.CINAMON.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SPICES.CINAMON.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.SIRLK' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.SPICES.JAMAICAFLOWERS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SPICES.JAMAICAFLOWERS.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.NIG' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.EG' | translate}}
            </div>
          </div>
        </div>
    </div>

  </div>

  <!--
    **************************************************************
    **************************************************************
    *******************   BULBS    *******************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTABULBS.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTABULBS.SUBTITLE' | translate}}" BackgroundImage="bgBulbos"></app-cta>

  <div class="container">

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3>{{'PRODUCTS.BULBS.AJOS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.BULBS.AJOS.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.CHIN' | translate}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{'PRODUCTS.BULBS.ONIONS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.BULBS.ONIONS.CONTENT' | translate}}
          </p>
          <div>
            <img class="market" src="../../../assets/images/marcador.svg" alt="">
            <div class="corigin">
              {{'COUNTRIES.USA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.GUA' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.NIC' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.PERU' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.ESP' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.HOL' | translate}}
            </div>
            <div class="corigin">
              {{'COUNTRIES.CHI' | translate}}
            </div>
          </div>
        </div>
    </div>


  </div>


<app-footer></app-footer>
