<app-header></app-header>
<div style="height: 130px; width: 100%"></div>


  <!-- Componentes Modal -->
  <div>
      <!-- Frutas -->
    <app-originsModal
      Identificator="applesModal"
      Title="{{'PRODUCTS.FRUITS.APPLE.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN',
              'CHI',
              'PORT',
              'ESP',
              'FR',
              'ITA'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="grapesModal"
      Title="{{'PRODUCTS.FRUITS.GRAPES.TITLE' | translate}}"
      [Countries]= "[
              'CHI',
              'PERU',
              'MEX',
              'PORT',
              'USA',
              'ESP',
              'ITA'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="pearsModal"
      Title="{{'PRODUCTS.FRUITS.PEAR.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CHI',
              'ARG',
              'PORT'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="tangerineModal"
      Title="{{'PRODUCTS.FRUITS.TANGERINE.TITLE' | translate}}"
      [Countries]= "[
              'PERU',
              'ESP'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="orangeModal"
      Title="{{'PRODUCTS.FRUITS.ORANGE.TITLE' | translate}}"
      [Countries]= "[
              'ESP',
              'PORT',
              'CHI',
              'PERU'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="kiwiModal"
      Title="{{'PRODUCTS.FRUITS.KIWI.TITLE' | translate}}"
      [Countries]= "[
              'ITA',
              'GRE',
              'USA',
              'CHI',
              'PORT'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="peachModal"
      Title="{{'PRODUCTS.FRUITS.PEACH.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CHI',
              'ESP'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="nectarineModal"
      Title="{{'PRODUCTS.FRUITS.NECTARINE.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CHI',
              'ESP'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="plumsModal"
      Title="{{'PRODUCTS.FRUITS.PLUMS.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CHI',
              'ESP'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="avocadoModal"
      Title="{{'PRODUCTS.FRUITS.AVOCADO.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CHI',
              'ESP'
          ]"
      >
    </app-originsModal>
    <!-- Granos -->

    <app-originsModal
      Identificator="linseedModal"
      Title="{{'PRODUCTS.SEEDS.LINSEED.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="barleyModal"
      Title="{{'PRODUCTS.SEEDS.BARLEY.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="sunFlowerModal"
      Title="{{'PRODUCTS.SEEDS.SUNFLOWER.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="birdSeedModal"
      Title="{{'PRODUCTS.SEEDS.BIRDSEED.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="yellowCornModal"
      Title="{{'PRODUCTS.SEEDS.YELLOWCORN.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="popCornModal"
      Title="{{'PRODUCTS.SEEDS.POPCORN.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="beansModal"
      Title="{{'PRODUCTS.SEEDS.BEANS.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="oatsModal"
      Title="{{'PRODUCTS.SEEDS.OATS.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN'
          ]"
      >
    </app-originsModal>
    <!-- TUBERCULOS -->

    <app-originsModal
      Identificator="potatoeModal"
      Title="{{'PRODUCTS.TUBERS.POTATOE.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'CAN',
              'HOL'
          ]"
      >
    </app-originsModal>
    <!-- Especias -->

    <app-originsModal
      Identificator="cinnamonModal"
      Title="{{'PRODUCTS.SPICES.CINAMON.TITLE' | translate}}"
      [Countries]= "[
              'SIRLK'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="jamaicaFlowersModal"
      Title="{{'PRODUCTS.SPICES.JAMAICAFLOWERS.TITLE' | translate}}"
      [Countries]= "[
              'NIG',
              'EG'
          ]"
      >
    </app-originsModal>
    <!-- bulbos -->

    <app-originsModal
      Identificator="ajosModal"
      Title="{{'PRODUCTS.BULBS.AJOS.TITLE' | translate}}"
      [Countries]= "[
              'CHIN'
          ]"
      >
    </app-originsModal>

    <app-originsModal
      Identificator="onionsModal"
      Title="{{'PRODUCTS.BULBS.ONIONS.TITLE' | translate}}"
      [Countries]= "[
              'USA',
              'GUA',
              'NIC',
              'PERU',
              'ESP',
              'HOL',
              'CHI'
          ]"
      >
    </app-originsModal>
  </div>


  <div class="container-fluid">
    <h1 class="products-title">{{'PRODUCTS.TITLE' | translate}}</h1>
  </div>

  <!--
    **************************************************************
    **************************************************************
    *******************    FRUTAS    *****************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTAFRUITS.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTAFRUITS.SUBTITLE' | translate}}" BackgroundImage="bgFrutas" class="bgCta bgFrutas"></app-cta>
  <div class="container">
    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#applesModal">{{'PRODUCTS.FRUITS.APPLE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.APPLE.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#grapesModal">{{'PRODUCTS.FRUITS.GRAPES.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.GRAPES.CONTENT' | translate}}
          </p>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#pearsModal">{{'PRODUCTS.FRUITS.PEAR.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PEAR.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#tangerineModal">{{'PRODUCTS.FRUITS.TANGERINE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.TANGERINE.CONTENT' | translate}}
          </p>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#orangeModal">{{'PRODUCTS.FRUITS.ORANGE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.ORANGE.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#kiwiModal">{{'PRODUCTS.FRUITS.KIWI.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.KIWI.CONTENT' | translate}}
          </p>
        </div>
    </div>

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#peachModal">{{'PRODUCTS.FRUITS.PEACH.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PEACH.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#nectarineModal">{{'PRODUCTS.FRUITS.NECTARINE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.NECTARINE.CONTENT' | translate}}
          </p>
        </div>
    </div>

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#plumsModal">{{'PRODUCTS.FRUITS.PLUMS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PLUMS.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#avocadoModal">{{'PRODUCTS.FRUITS.AVOCADO.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.AVOCADO.CONTENT' | translate}}
          </p>
        </div>
    </div>
  </div>
  <!--
    **************************************************************
    **************************************************************
    *******************   SEMILLAS   *****************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTASEED.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTASEED.SUBTITLE' | translate}}" BackgroundImage="bgGranos"></app-cta>
  <div class="container">

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#linseedModal">{{'PRODUCTS.SEEDS.LINSEED.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.LINSEED.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#barleyModal">{{'PRODUCTS.SEEDS.BARLEY.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.BARLEY.CONTENT' | translate}}
          </p>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#sunFlowerModal">{{'PRODUCTS.SEEDS.SUNFLOWER.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.SUNFLOWER.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#birdSeedModal">{{'PRODUCTS.SEEDS.BIRDSEED.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.BIRDSEED.CONTENT' | translate}}
          </p>
        </div>
    </div>

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#yellowCornModal">{{'PRODUCTS.SEEDS.YELLOWCORN.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.YELLOWCORN.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#popCornModal">{{'PRODUCTS.SEEDS.POPCORN.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.POPCORN.CONTENT' | translate}}
          </p>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#beansModal">{{'PRODUCTS.SEEDS.BEANS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.BEANS.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#oatsModal">{{'PRODUCTS.SEEDS.OATS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SEEDS.OATS.CONTENT' | translate}}
          </p>
        </div>
    </div>

  </div>

  <!--
    **************************************************************
    **************************************************************
    *******************   TUBERCULOS  ****************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTATUBERS.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTATUBERS.SUBTITLE' | translate}}" BackgroundImage="bgTuberculos"></app-cta>

  <div class="container">


    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#potatoeModal">{{'PRODUCTS.TUBERS.POTATOE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.TUBERS.POTATOE.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">

        </div>
    </div>


  </div>

  <!--
    **************************************************************
    **************************************************************
    *******************   SPECIAS  *******************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTASPICES.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTASPICES.SUBTITLE' | translate}}" BackgroundImage="bgSpecias"></app-cta>

  <div class="container">

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#cinnamonModal">{{'PRODUCTS.SPICES.CINAMON.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SPICES.CINAMON.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#jamaicaFlowersModal">{{'PRODUCTS.SPICES.JAMAICAFLOWERS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.SPICES.JAMAICAFLOWERS.CONTENT' | translate}}
          </p>
        </div>
    </div>

  </div>

  <!--
    **************************************************************
    **************************************************************
    *******************   BULBS    *******************************
    **************************************************************
    **************************************************************
  -->
<app-cta Title="{{'PRODUCTS.CTABULBS.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTABULBS.SUBTITLE' | translate}}" BackgroundImage="bgBulbos"></app-cta>

  <div class="container">

    <div class="row products-wrapp">
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#ajosModal">{{'PRODUCTS.BULBS.AJOS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.BULBS.AJOS.CONTENT' | translate}}
          </p>
        </div>
        <div class="col-md-6">
          <h3 data-toggle="modal" class="viewModal" data-target="#onionsModal">{{'PRODUCTS.BULBS.ONIONS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.BULBS.ONIONS.CONTENT' | translate}}
          </p>
        </div>
    </div>


  </div>


<app-footer></app-footer>
