<app-header></app-header>
<div style="height: 130px; width: 100%"></div>

  <div class="container">
    <h1>Disfruta de nuestra variedad de productos</h1>
  </div>

<app-cta Title="{{'PRODUCTS.CTAFRUITS.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTAFRUITS.SUBTITLE' | translate}}"></app-cta>
  <div class="container">
    <div class="row products-wrapp">
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.APPLE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.APPLE.CONTENT' | translate}}
          </p>
        </div>
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.GRAPES.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.GRAPES.CONTENT' | translate}}
          </p>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.PEAR.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PEAR.CONTENT' | translate}}
          </p>
        </div>
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.TANGERINE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.TANGERINE.CONTENT' | translate}}
          </p>
        </div>
    </div>


    <div class="row products-wrapp">
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.ORANGE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.ORANGE.CONTENT' | translate}}
          </p>
        </div>
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.KIWI.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.KIWI.CONTENT' | translate}}
          </p>
        </div>
    </div>

    <div class="row products-wrapp">
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.PEACH.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PEACH.CONTENT' | translate}}
          </p>
        </div>
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.NECTARINE.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.NECTARINE.CONTENT' | translate}}
          </p>
        </div>
    </div>

    <div class="row products-wrapp">
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.PLUMS.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.PLUMS.CONTENT' | translate}}
          </p>
        </div>
        <div class="col">
          <h3>{{'PRODUCTS.FRUITS.AVOCADO.TITLE' | translate}}</h3>
          <p class="products-content">
              {{'PRODUCTS.FRUITS.AVOCADO.CONTENT' | translate}}
          </p>
        </div>
    </div>
  </div>
<app-cta Title="{{'PRODUCTS.CTASEED.TITLE' | translate}}" SubTitle="{{'PRODUCTS.CTASEED.SUBTITLE' | translate}}"></app-cta>
<app-footer></app-footer>
