.products-content{
  margin-left: 20px; color:#09090999;
}

.products-wrapp{
  margin:40px 0px 40px 0px;
}

.products-title{
  text-align: center;
  text-shadow: 3px 3px 3px #c4c4c4;
  padding: 40px;
}
