.link{
  color: #39c;
  font-size: 20px;
  text-align: center;
  background: #f4f4f4;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}


@media screen and (max-width:576px){
  .link{
    margin: 0px;
    font-size: 14px;
  }
}
