<header id="home-header" [ngClass]="{'header-fixed': isFixed}">
  <div class="container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
    <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="home-logo mr-1">
          <a [routerLink]="'/'"><img src="assets/images/logo.svg" alt="Egret logo">
            <span class="companyName">{{'COMPANY.NAME' | translate}}</span>
          </a>
      </div>
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
    </div>
    <div fxFlex class="top-menu">
      <a mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/landing/productos'"><strong>{{'CORE.HEADER.PRODUCTS' | translate}}</strong></a>
      <a mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/landing/galeria'"><strong>{{'CORE.HEADER.GALLERY' | translate}}</strong></a>
      <a mat-button id="dashboard-topbtn" class="hometop-btn" [routerLink]="'/landing/contacto'"><strong>{{'CORE.HEADER.CONTACT' | translate}}</strong></a>
      <span fxFlex></span>
    </div>
  </div>
</header>
