.home-cta {
   // background: url('../../../assets/images/cta-bg.svg') no-repeat center center;
   background-color: #17181d;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.bgCta{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 100%,0px;
}

.bgFrutas{
  background-image: url('../../../assets/images/frutas.png')
}

.bgGranos{
  background-image: url('../../../assets/images/granos.png')
}

.bgTuberculos{
  background-image: url('../../../assets/images/papas.png')
}

.bgSpecias{
  background-image: url('../../../assets/images/especias.png')
}

.bgBulbos{
  background-image: url('../../../assets/images/bulbos.png')
}
