.home-cta {
   // background: url('../../../assets/images/cta-bg.svg') no-repeat center center;
   background-color: #17181d;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
