<section class="home-section home-cta bgCta {{BackgroundImage}}">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666">
        <b><h2>{{Title}}</h2></b>
        <p style="color:#9c872c">{{SubTitle}}</p>
      </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <!-- <button mat-raised-button mat-lg-button color="accent" (click)="buyEgret()">BUY EGRET NOW</button> -->
      </div>
    </div>
  </div>
</section>
