.home-cta {
   // background: url('../../../assets/images/cta-bg.jpg') no-repeat center center;
   background-color: #A3E261;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #000000;
}
