/* Reglas para el componente apples.component */

.modalHeader{
background: #505159;
border-bottom: none !important;
}

.transparent{
background: transparent !important;
}

.modalHeader h3{
color: white;
text-align: center;
}

.origins{
padding: 4px;
}

.img-aside{
border-radius: 2px;
margin-left: auto;
margin-right: auto;
display: block;
}

.products-content{
margin-left: 20px; color:#09090999;
}

.products-wrapp{
margin:40px 0px 40px 0px;
}

.products-title{
text-align: center;
text-shadow: 3px 3px 3px #c4c4c4;
padding: 40px;
}

.market{
display: block;
float: left;
}
.corigin{
background: #17181D;
display: block;
float: left;
padding: 3px;
margin: 2px;
border-radius: 4px;
color: white;
font-weight: lighter;
}


.bg-origin-product{
  width: 100%;
  height: 100%;
  min-width: 218px;
  min-height: 155px;
  margin: 0 auto;
  display: block;
  background-size: cover;
  background-repeat:no-repeat;
}

    .pr-Apple{
      background-image: url('../../../../assets/images/productsTumblr/apples.png');
    }

    .pr-Grapes{
      background-image: url('../../../../assets/images/productsTumblr/uva.png');
    }

    .pr-Pears{
      background-image: url('../../../../assets/images/productsTumblr/pear.png');
    }

    .pr-Tangerine{
      background-image: url('../../../../assets/images/productsTumblr/tangerine.png');
    }

    .pr-Oranges{
      background-image: url('../../../../assets/images/productsTumblr/orange.png');
    }

    .pr-Kiwis{
      background-image: url('../../../../assets/images/productsTumblr/kiwi.png');
    }

    .pr-Peach{
      background-image: url('../../../../assets/images/productsTumblr/melocoton.png');
    }

    .pr-Nectarines{
      background-image: url('../../../../assets/images/productsTumblr/nectarina.png');
    }

    .pr-Plums{
      background-image: url('../../../../assets/images/productsTumblr/plum.png');
    }

    .pr-Avocado{
      background-image: url('../../../../assets/images/productsTumblr/avocado.png');
    }

    /* Semillas */

    .pr-Linseed{
      background-image: url('../../../../assets/images/productsTumblr/linasa.png');
    }

    .pr-Barley{
      background-image: url('../../../../assets/images/productsTumblr/cebada.png');
    }

    .pr-SunFlowerSeeds{
      background-image: url('../../../../assets/images/productsTumblr/girasolSeeds.png');
    }

    .pr-Alpiste{
      background-image: url('../../../../assets/images/productsTumblr/alpiste.png');
    }

    .pr-YellowCorn{
      background-image: url('../../../../assets/images/productsTumblr/Yellowcorn.png');
    }

    .pr-PopCorn{
      background-image: url('../../../../assets/images/productsTumblr/popcorn.png');
    }

    .pr-Beans{
      background-image: url('../../../../assets/images/productsTumblr/beans.png');
    }

    .pr-Oats{
      background-image: url('../../../../assets/images/productsTumblr/avena.png');
    }

    /* Tuberculos */

    .pr-Potatoes{
      background-image: url('../../../../assets/images/productsTumblr/potatoe.png');
    }

    /* Especias */

    .pr-Cinnamon{
      background-image: url('../../../../assets/images/productsTumblr/cinnamon.png');
    }

    .pr-FlowerOfJamaica{
      background-image: url('../../../../assets/images/productsTumblr/jamaicaFlower.png');
    }

    /* Bulbos */

    .pr-Garlics{
      background-image: url('../../../../assets/images/productsTumblr/garlics.png');
    }

    .pr-Onions{
      background-image: url('../../../../assets/images/productsTumblr/onion.png');
    }
